/* block specific CSS goes here */

.herocard-welcome-header-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.herocard-welcome-header-background div div{
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 2rem;
}

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 32px;
  min-height: 350px;
}

main .hero h1 {
  max-width: 1200px;
  margin-left: 40px;
  font-size: 6vw;
  -webkit-text-stroke: 2px black;
  font-family: 'Amatic SC', cursive;
      color: #bdf1f1;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
